.se-emojis {
	overflow: auto;
}

.se-emojis button {
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	font-size: 1.2rem; 
	display: inline;
	width: auto !important;
	float: left;
}

.se-emojis button.btn-emoji {
	padding: 2px 4px;
	box-shadow: none !important;
}

.se-emojis button.btn-emoji:hover {
	background-color: #dadada;
}

.se-emojis span.emoji {
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
}

.se-emojis i.clear-favorites {
	display: inline-block;
	cursor: pointer;
	background-color: #ebebeb;
	color: gray;
	padding: 0;
	position: relative;
	top: -5px;
	right: 1px;
	height: .8rem;
	font-style: normal;
}

.se-emojis i.clear-favorites:hover {
	border: 1px solid #dadada;
}

.se-emojis header:not(:first) {
	margin-top: 5px;
}

.se-emojis header {
	padding-left: 4px;
	float: left;
	font-size: small;
	font-weight: bold;
	width: 100%;
	min-width: 100%;
	background: #ebebeb;
	color: gray;
}


